.aboutPage{
    min-height: 100%;
    position: relative;
}

.aboutPageContent{
  min-height:100%;
  display: flex;
  text-align: center;
  padding-bottom: 80px;
}

.aboutPageContent img {
  max-height: 350px;
  justify-content: center;
}

.CourtneyColumn {
  margin: auto;
  padding: 10px;
}

.MiddleColumn {
  margin: auto;
  padding: 50px;
  padding-bottom: 250px;
}

.MiddleColumn h1 {
  font-size: 50px;
}

.WhitneyColumn {
  margin: auto;
  padding: 10px;
}

/*footer css is in mainDirective*/
