html body    {
    margin: 0;
    padding: 0;
    /*font-family: Open Sans;
    font-style: normal;*/
    font-weight: 400;
    color: #595F72;
    /*background-color: rgb(255, 250, 232);*/
    background-color: white;
    height: 100%;
    /*-webkit-font-smoothing: antialiased;*/
    line-height: 1.5;

}

*{
    font-family: Open Sans;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: initial;
    
}

input{
    color: #595F72;
}

button{
    color: #595F72;
}

button:hover{
   color: #009FB7;
}

option{
    color: #595F72;
}

a{
    color: #595F72;
}

a:link{
    color: #595F72;
}

a:visited{
    color: #595F72;
}

a:hover{
    color: #009FB7;
}








/*.wrapper {
min-height: 105vh;
position: relative;
}*/

/*//////foooter/////*/





