#navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    /*box-shadow: 5px 5px 10px #d9d9d9;*/
}

.split5050 {
    position: relative;
    width: 60%;
    padding-left: 5%;
}

.split5050Image {
    position: relative;
    width: 40%;
    left: 15px;
}
#navbar ul {
text-decoration: none;
list-style: none;
height: 100%;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 20%;
}

.condencedHeader{
    position: relative;
    right: 9%;
    width: 100%;
}

.links {
    text-decoration: none;
}


.containsImage{
    height: 125px;
    width: 55%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    min-width: 350px;
}

.navImage{
    height: 90%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
}

.listDiv {
display: flex;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
margin: auto;
}

.footer{
  height: 45px;
  width: 100%;
  background-color: #d7bf77;;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 5px 6px 17px #d9d9d9;
}

.adminLink{
position: absolute;
top: 12px;
right: 30px;
}
