<div class="aboutPage">

    <div class="header">
        <nav-bar></nav-bar>
    </div>

    <div class="aboutPageContent">
        <div class="CourtneyColumn">
            <img src="img/Courtney.jpg" alt="" />
            <div class="">
            Courtney graduated with an Associates degree from Brigham Young University-Idaho, where she met her husband.  She is currently a stay at home mom to her three children.  She loves doing DIY’s and looking at anything that has to do with décor.

            </div>
        </div>

        <div class="MiddleColumn">
            <h1>About Us</h1>
            Blushed Weddings & Events is a lifelong dream that we've have imagined for years.  This business is centered on creating a memorable day that will be enjoyed from the beginning.  With everyday stresses, we understand the planning processes of a wedding or other event can be chaotic and even take away from the celebration aspect.  That’s why we want to help make your event exactly what you want.  After planning our own weddings, we recognize the stress of money, time, and differing opinions.  At Blushed Weddings & Events, we are focused on what you want and doing everything to make that a reality.
        </div>

        <div class="WhitneyColumn">
            <img src="img/Whitney.jpg" alt="" />
            <div class="">
                Whitney graduated with a Bachelor’s Degree in English from Brigham Young University-Idaho.  She recently got married and is pursuing her dreams as a wedding planner.  She enjoys writing and anything that has to do with Pinterest and chocolate.

            </div>
        </div>

    </div>

    <div class="footer">
        <footer-div></footer-div>
    </div>
</div>
