<nav-bar></nav-bar>


<div class="checkoutPage">
  <h1>Proceed To Checkout</h1>
  <div class="">
    Pick up date: {{dateValue | date:'MM/dd/yyyy h:mm a'}}
  </div>
  <div class="">
    Pick up address: 1234 ThisSiteRocks Dr.
  </div>
  <div class="">
    Payment Info:
      <input type="text" name="name" value="">
      <input type="text" name="name" value="">
      <input type="text" name="name" value="">
      <input type="text" name="name" value="">
  </div>

  <div class="">
    So everything runs smoothly the day of your rentals please enter your contact info here.
    Contact Info:

    Name:<input type="text" name="name" value="">
    Email:<input type="text" name="name" value="">
    Phone #:<input type="text" name="name" value="">
    <br>
    <br>
    <br>
    <button type="button" name="placeOrder" onclick="location.href='order.html'">Place Order</button>
  </div>

</div>
