<div class="modelPage" ng-click="showDatePicker = false">
</div>
<div class="datePickerModel">
    <h1>Input a Rental Date</h1>

    <div class="myDatePicker">
        <input  type="text" datepicker="" ng-model="startDate" />
    </div>
    
    <div class="modelImageDiv">
      <img class="modelImage" ng-src="img/finalLogo.png">
    </div>

    <div class="modelBottom">
        <p>Rentals last 3 days, starting on the day you choose here.</p>
        <div class="cartModelButtons">
            <button class="cancelButton" ng-click="showDatePicker = false">Cancel</button>
            <button class="scheduleButton" ng-click="saveDate()">Save</button>
        </div>
    </div>
</div>
