<div class="modelPage" ng-click="showDatePicker = false">
</div>
<div class="datePickerModel">
    <h1>Select a Rental Date</h1>

    <div class="myDatePicker">
        <input  type="text" datepicker="" ng-model="startDate" />
    </div>
    
    <div class="modelImageDiv">
      <img class="modelImage" ng-src="img/finalLogo.png">
    </div>

    <div class="modelBottom">
        <p>Rentals last 3 days, starting on the day you choose here.</p>
        <div class="cartModelButtons">
            <button class="cancelButton" ng-click="showDatePicker = false">Cancel</button>
            <button class="scheduleButton" ng-click="saveDate()">Save</button>
        </div>
    </div>
</div>







<!--<div class="dateDropdowns">
            Month: <select name="MonthG" ng=model="dateValue.month">
                    <option Value="1">January
                    <option Value="2">Febuary
                    <option Value="3">March
                    <option Value="4">April
                    <option Value="5">May
                    <option Value="6">June
                    <option Value="7">July
                    <option Value="8">August
                    <option Value="9">September
                    <option Value="10">October
                    <option Value="11">November
                    <option Value="12">December
                    </select>
            Date: <select name="DateG" ng=model="dateValue.date">
                    <option Value="1">1
                    <option Value="2">2
                    <option Value="3">3
                    <option Value="4">4
                    <option Value="5">5
                    <option Value="6">6
                    <option Value="7">7
                    <option Value="8">8
                    <option Value="9">9
                    <option Value="10">10
                    <option Value="11">11
                    <option Value="12">12
                    <option Value="13">13
                    <option Value="14">14
                    <option Value="15">15
                    <option Value="16">16
                    <option Value="17">17
                    <option Value="18">18
                    <option Value="19">19
                    <option Value="20">20
                    <option Value="21">21
                    <option Value="22">22
                    <option Value="23">23
                    <option Value="24">24
                    <option Value="25">25
                    <option Value="26">26
                    <option Value="27">27
                    <option Value="28">28
                    <option Value="29">29
                    <option Value="30">30
                    <option Value="31">31
                    </select>
            Year: <select name="YearG" ng=model="dateValue.year">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                </select>-->
<!--</div>-->