
<div id="homePage">

    <div class="header">

        <div class="homeImageDiv">
            <div>
             <a href="#/home" class="homeContainsImage">
               <img class="homeNavImage" ng-src="img/finalLogo.png">
             </a>
            </div>
        </div>

        <div class="homeListDiv">
            <ul>
                <li class="links"><a href="#/about">about</a></li>
                <li class="links"><a href="#/rentals">rentals</a></li>
                <li class="links"><a href="#/contact">contact</a></li>
                <li class="links"><a href="#/cart">cart</a></li>

            </ul>
        </div>
        <div class="line"></div>
    </div>

    <div class="homePageContent">
        <h1></h1>
        <slider images="images"></slider>

    </div>

    <div class="footer">
      <footer-div></footer-div>

    </div>

</div>
