

 <div class="homeImageDiv">
   <div>
     <a href="#/home" class="homeContainsImage">
       <img class="homeNavImage" ng-src="img/finalLogo.png">
     </a>
   </div>
 </div>

<div class="homeListDiv">
 <!-- <div class="ulDiv"> -->
    <ul>
        <li class="links"><a href="#/about">about</a></li>
        <li class="links"><a href="#/rentals">rentals</a></li>
        <li class="links"><a href="#/contact">contact</a></li>
    </ul>
 <!-- </div> -->
</div>


  <div class="slider">
    <ul class="slides">
      <li>
          <img src="/img/4VER.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Blushed Events!</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/img/candyBar.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/img/LoveSign.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/img/cakeCloseUp.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <!-- <footer>
    <a class="adminLink" href="">admin</a>
  </footer> -->
