     <div id="navbar">
        <div class="split5050Image">
            <div class="containsImage">
                <a href="#/home">
                  <img class="navImage" ng-src="img/finalLogo.png">
                </a>
            </div>
        </div>

        <div class="split5050">
            <div class="listDiv">
               <ul>
                   <li><a class="links" href="#/about">about</a></li>
                   <li><a class="links" href="#/rentals">rentals</a></li>
                   <li><a class="links" href="#/contact">contact</a></li>
                   <li><a class="links" href="#/cart">cart</a></li>

               </ul>
            </div>
            <div class="line condencedHeader"></div> <!--line css on home.css -->
        </div>
      </div>
